<h3>Register you child</h3>
<form class="register_children_form" action="/open_gym/register_children" method="post">
<div class="child">
  <label for="firstname">Firstname</label>
  <input type="text" name="firstname" value="" required>
  <label for="lastname">Lastname</label>
  <input type="text" name="lastname" value="" required>
  <input type="hidden" name="legal_guardian_id" value= '<%=(current_user)? current_user._id : "" %>' >
  <br>
  <label for="address">Address</label>
  <input type="text" name="address" value="" required="">
  <label for="zip_code">Zip Code</label>
  <input type="text" name="zip_code" value="" required="">
  <br>
  <label for="emergency_contact_name">Emergency Contact Name</label>
  <input type="text" name="emergency_contact_name" value="">
  <label for="emergency_contact_phone">Emergency Contact Phone Number</label>
  <input type="text" name="emergency_contact_phone" value="">
  <br>
  <label for="birthday">Birthday</label>
  <input type="text" data-field="date" name="birthday" readonly>
  <br>
  <label for="permission_to_walk">Permission To Walk</label>
  <input type="radio" name="permission_to_walk" value="yes">Yes
  <input type="radio" name="permission_to_walk" value="no">No
  <br>
  <label for="media_agreement">Media Agreement</label>
  <input type="radio" name="media_agreement" value="yes">Yes
  <input type="radio" name="media_agreement" value="no">No
</div>
<!-- <input type="submit" name="" value="Submit"> -->
<div class="dtBox"></div>
</form>
<a href="#" id="submitRegistrationForms">Submit</a> <br>
<a href="#" id="addChild">Add Child</a>

<style media="screen">
.child{
  padding:10px;
  width:60%;
  margin:50px auto;
  background-color: blue;
  display: block;
}
</style>
