<div class="center-text center-div width-60">
  <p>This is to register your children for our open gym program. It is important that we have up to date information for your children in case there is ever an emergency and so we can keep you updated about all of our events and anything new!</p>
</div>

<form class="register_children_form1" action="/open_gym/register_children" method="post">
<div class="child">
  <label for="firstname">Firstname*</label>
  <input type="text" name="firstname" value="" required>
  <label for="lastname">Lastname*</label>
  <input type="text" name="lastname" value="" required>
  <input type="hidden" name="legal_guardian_id"
  value= '<%= (legal_guardian_id)? legal_guardian_id : "" %>' >
  <br>
  <label for="address">Address*</label>
  <input type="text" name="address" value="" required>
  <label for="city">City*</label>
  <input type="text" name="city" value="" required>
  <br>
  <label for="zip_code">Zip Code*</label>
  <input type="text" name="zip_code" value="" required>
  <br>
  <label for="emergency_contact_name">Emergency Contact Name*</label>
  <input type="text" name="emergency_contact_name" value="" required> <br>
  <label for="emergency_contact_phone">Emergency Contact Phone Number*</label>
  <input type="text" name="emergency_contact_phone" value="" required>
  <br>
  <label for="birthday">Birthday*</label>
  <input type="text" data-field="date" name="birthday" readonly required>
  <br>
  <label for="medical_notes">Medical Notes:</label>
  <br>
  <textarea name="medical_notes" rows="8" cols="50"></textarea>
  <br>
  <label for="permission_to_walk">Allowed to walk Home?</label>
  <input type="radio" name="permission_to_walk" value="yes">Yes
  <input type="radio" name="permission_to_walk" value="no">No
  <br>
  <label for="media_agreement">Media Agreement</label>
  <input type="radio" name="media_agreement" value="yes">Yes
  <input type="radio" name="media_agreement" value="no">No
</div>
<!-- <input type="submit" name="" value="Submit"> -->
<div class="dtBox"></div>
</form>
<div id="register_button_container">
  <a href="#" id="submitRegistrationForms">Submit Registration</a>
  <a href="#" id="addChild" data-confirm="Are you sure you want to register another Child?">Add Another Child</a>
</div>
