<h3>Register you child</h3>
<form class="register_children_form" action="/open_gym/register_children" method="post">
<div class="child">
  <label for="firstname">Firstname</label>
  <input type="text" name="firstname" value="" required>
  <label for="lastname">Lastname</label>
  <input type="text" name="lastname" value="" required>
  <input type="hidden" name="legal_guardian_id" value="58e2f67b84cef6713d4d0bdf">
</div>
<input type="submit" name="" value="Submit">
</form>
<a href="#" id="addChild">Add Child</a>
