<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MBC Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/simple-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/open_gym.css">
  </head>
  <body>
  <% include ../layouts/header %>
  <% include ../layouts/message %>
  <div class="main-container open_gym_info_container">
    <h1>Open Gym</h1>
    <p>Open Gym is a program run by Maspeth Bible Church where we meet every week on Friday after school! Our hope is to have kids come and enjoy playing games, making crafts, and learning about Jesus!</p>
    <br><br>
    <a href="/open_gym/register" id="register-link">You can register your child here!</a>



  </div>

  </body>
</html>
