<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MBC Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <% include ../layouts/header %>
  <h1>YEET</h1>
  </body>
</html>
