<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MBC Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/simple-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="church-background">
  <% include ../layouts/header %>
  <% include ../layouts/message %>
  <div class="main-container">


      <div id="welcome-message">
        <h2 class="title is-1">Welcome to Maspeth Bible Church!</h2>
        <h3>Follow the steps below to get started:</h3>
      </div>
      <div id="extraSpace"></div>
      <div id="signup-step" class="step-container">
        <h3><span class="step-header">Step 1</span> Sign Up!</h3>
        <h4>If you haven't already, sign up <a href="/users/signup">here</a></h4>
      </div>
      <div class="step-container">
        <h3><span class="step-header">Step 2</span> Log in!</h3>
        <h4>Once you have created an account, <a href="/users/login">log in</a>!</h4>
      </div>
      <div class="step-container">
        <h3><span class="step-header">Step 3</span> Register!</h3>
        <h4>You can either register your children for our Open Gym program, or any of our upcoming events!</h4>
        <div id="open-gym-step"><a href="/open_gym/register"><h4>Register for Open Gym</h4></a></div>
        <div id="event-step"><a href="/events"><h4>Register your children for Upcoming Event</h4></a></div>
      </div>
  </div>

  </body>
</html>
