$royal-blue: #4062bb;
$light-blue: #27aae3;
$light-gray: #e6e6e6;
$dark-gray: #3f3f3f;
$orange: #dc493b;
$white: #ffffff;
$danger-red: #cc0000;
$success-green: #4BB543;;

/*index*/
#admin_actions{
  width: 70%;
  margin:0 auto;
  border-radius: 15px;
}
.action{
  width: 50%;
  height:150px;
  background-color: $royal-blue;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   outline :1px solid #cccccc;
   cursor: pointer;

   text-align: center;
}
.action_headers{
  color: #f7faff;
   padding: 0px 10px;
}
.action:hover{
  /*background-color: #cccccc;*/
  background-color: #334e95;
}
.action:hover .action_headers{
    /*color:#2c3f48 !important;*/
}


/*weekly attendance list*/
#attendance_list_container{
  width: 80%;
  margin:0 auto;
}
.attendance_list{
  width: 100%;
  margin: 10px auto;
  background: #59824F;
}
.attendance_list h2{
  display: inline-table!important;
}
.attendance_list a{
  display: inline-table!important;
  margin: 0 10px;
}
