$royal-blue: #4062bb;
$light-blue: #27aae3;
$light-gray: #e6e6e6;
$dark-gray: #3f3f3f;
$orange: #dc493b;
$white: #ffffff;
$danger-red: #cc0000;
$success-green: #4BB543;;
/* global classes */

.attendance-action-button-container{
  width: 90%;
  padding: 30px;
}
.attendance-action-button{
  height: 40px;
  padding: 5px 10px;
  background-color: $royal-blue;
  color: #ffffff;
  display: inline-block;
  font-weight:900;
  font-family: 'Avenir';
  line-height: 40px;
  border-radius: 20px;
}

.child{
  padding:10px;
  width:60%;
  margin:50px auto;
  label{
    font-weight: 900;
    font-size: 16px;
  }
   input,  textarea{
    margin: 10px;
    background-color: #f7faff;
      border: solid 1px #eaf0fb;
      color: $royal-blue;
      line-height: 18px;
      font-size: 14px;
  }
  textarea{
    width:100%;
  }
}


#register_button_container{
  width: 50%;
  margin: 10px auto;
  text-align: center;
}
#register_button_container a{
  display: inline-block;
  margin: 5px 25px;
  background-color: $royal-blue;
  color: #ffffff;
  padding: 8px 30px;
  border-radius: 4px;
}
#register_button_container a:hover{
  background-color:#263b65 ;
  color: #ffffff;
  font-weight: 500;
}
#close{
  float: right;
  color:#ed526c;
  font-weight: 900;
}
#overlay{
  height:100%;
  width:100%;
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.6);
}
#modal{
  height:60%;
  width:50%;
  position: fixed;
  background-color: white;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#weekly_attendance_container{
  width: 80%;
  height: 100%;
  overflow-y: scroll;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #2c3f48;
}
#attendance_header{
  width: 100%;
  height:100%;

}
/*#attendance_header h1, #attendance_header a{
  display: inline-table !important;
}
#attendance_header a{
  float:right;
  inline-table !important;
}*/
.attendance_header_flexbox{
  display: flex !important;
  /*justify-content: center;*/
  align-items: center;
  width: 50%;
  height:30px;
  /*background-color: green;*/
  float:left;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  color:white;
  /*float:left;*/
}
.attendance_header_flexbox a{
  color:white !important;
}

#search_bar{
  width: 50%;
  display: block;
  margin: 0 auto;
  font-style: italic;
  padding: 5px 0;
}
#children_container{
  height: 100%;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: yellow;
}
.child_container{
  padding:10px 0;
  border: 1px solid black;
  width:100%;
  margin:0 auto;
  background-color: white;
}
.staff-member{
  color: red;
}
.child_name{
  display: inline-table;
  margin-left: 25px;
}
.sign_in_button{
  display: inline-table;
  float: right;
  margin-right: 25px;
}

/* attendance weekly view page */

.signed-out-color{
  background-color: #e87058;
}
.not-signed-out-color{
  background-color: #58e870;
}
#image-modal{
  position: fixed;
  height: 500px;
  width: 500px;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#image-modal img{
  width: 500px;
  height: auto;
}
#overlay{
  position: fixed;
  height: 100%;
  width: 100%;
  color: rgba(0,0,0,0.5);
}




/*info page*/
#register-link{
  text-decoration: underline;
  color: red;
}

.open_gym_info_container{
  padding: 20px;
}

.edit-child-page{
  .child{
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

// registered index page
.registered-index-page{
  .users-table{
    a, a:hover, a:focus, a:active{
      color: $royal-blue;
      font-weight: 700;
    }
  }
  .is-archived{
    &, & a{
      color: $orange;
    }
  }
}
