html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
button,fieldset,form,input,legend,textarea,select{margin:0;padding:0}
a,a *{cursor:pointer}
a:link,a:visited,a:hover,a:active{color:black;text-decoration:none;}
div{margin:0;padding:0;background-color:transparent}
button,input[type=button],input[type=image],input[type=reset],input[type=submit],label{cursor:pointer;}
ul,li{list-style:none;margin:0;padding:0;}

/**{
  border:0.5px solid red;
}*/
.church-background{
  background-image: url("/images/church.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body{
  /*background-image: url("/images/church.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
}
.main-container{
  margin-top: 40px;
}
#header{
  width:100%;
  height:auto;
  background: green;
  display: block;
  margin:0 auto;
  background-color: #cccccc;

}

#header_title{
  display: inline-block;
}
#header_main_nav{
  display: block;
  width:100%;
  background-color: #2c3f48;
  padding: 5px 0;
}
#header_main_nav a{
  color:white; !important
}
#header_buttons{
  display: block;
  width:100%;
  background-color: #cccccc;
  padding: 7px 0;
  text-align: right;
  box-shadow:1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}
.button{
  display:inline-block;
  margin: 0 3px;
  margin-right:5px;
  color: #2c3f48; !important

}
.button a{
  margin-right: 5px;
  background-color: #2c3f48;
  color: white;
  padding: 3px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}
.button #current-user{
  border-left: 1px solid #2c3f48;
  border-right: 1px solid #2c3f48;
  padding: 0 5px;
}
#message_container{
  color: red;
}

/*dashboard page*/
#welcome-message{
  position: absolute;
  left: 10%;
  /*width:50%;*/
  color:#2c3f48;
  text-align: center;
}
.step-header{
  color:#2c3f48;
  text-decoration: underline;
}
.step-container{
  width:70%;
  margin:25px auto;
  background-color: rgba(204, 204, 204, 0.9);
  padding: 15px;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}
#extraSpace{
  width:100%;
  height: 55px;
  visibility: hidden;
}
.step-container h3{
  margin-top: 15px;
}
#open-gym-step{
  width:50%;
  display: inline-block;
  padding:10px 0px;
  text-align: center;
  margin-top: 15px;
}
#event-step{
  width:50%;
  display: inline-block;
  float:left;
  padding: 10px 0px;
  text-align: center;
  margin-top: 15px;
}
#open-gym-step a h3, #event-step a h3{
  padding: 5px;
  display:inline-block;
  background-color: #2c3f48;
  color: #cccccc;
  border-radius: 4px;
}

/*login page*/
.login-container{
  width: 30%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: rgba(204,204,204,0.7);
  padding: 20px;
  text-align: center;
}
/*signup page*/
#signup-container{
  width: 60%;
  margin: 0 auto;
  background-color: #cccccc;
  padding: 20px;
}
.signup-input-container{
  width:100%;
  margin-top: 10px;
}
#signup-container input{
  outline:none;
  border: 1px black;
  width: 200px;
  padding: 1px;
}
#submit_button{
  background-color: #2c3f48;
  color: white;
  padding: 3px!important;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}
