/*show page*/
.links_container{
  width: 90%;
  margin:0 auto;
  display: block;
  /*padding-bottom: 10px;*/
  padding-top: 30px;
  padding-bottom: 30px;
}
#event-register, #open-gym-register{
  width:50%;
  padding:0;
  margin:0;
  display: inline-block;
  text-align: center;
  float:left;
}
#event-register h3, #open-gym-register h3{
  background-color: #13709c; !important;
  color: white; !important;
  width: 50%;
  padding: 5px 10px;
  display:inline-block;
  margin:0 auto;
  border-radius: 5px;
}
.user_container{
  clear:both;
  display: block;
  width: 50%;
  margin: 25px;
}
.user_page_header{
  text-decoration: underline;
}

/*index page*/

.users-table{
  width: 90%;
  margin: 0 auto;
  font-family: 'Avenir';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #1f3052;
}
.users-table tr{
  height: 50px;
}
.users-table td{
  border-bottom: 1px solid  rgba(97, 97, 97, 0.1);
}
.users-table thead td{
  font-weight: 900;
  font-size: 16px;
}
.users-table tbody td{
  font-weight: 500;
}
