<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Home</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <% include ../layouts/header %>
      <div class="main-container">
        <a href="/spreadsheets"><h3>Download Spreadsheets</h3></a>
      </div>

  </body>
</html>
