<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Forgot Your Password?</title>
    <link rel="stylesheet" href="/stylesheets/">
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body class="church-background">
    <% include ../layouts/header %>
    <% include ../layouts/message %>
    <div class="main-container">

      <div id="signup-container">

        <h1>Forgot Your Password?</h1>
        <p>If your forgot your password or want to change it, enter your email and press submit. We'll send you an email telling you what to do next! </p>
        <br>
        <form class="" action="/users/create_password_token" method="post">

          <input type="text" name="email" placeholder="Enter your email...">
          <input type="submit" value="Submit">
        </form>
      </div>




    </div>
  </body>
</html>
