<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Events</title>
    <link rel="stylesheet" href="/stylesheets/simple-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <% include ../layouts/header %>
    <% include ../layouts/message %>

    <div class="main-container">
    <h1>Events</h1>
    <% for(var i =0; i<events.length;i++) { %>
      <% if (!events[i].in_the_past()) { %>
      <div class="event">

          <h2><%= events[i].title %></h2>
          <h3><%= events[i].formatDate() %></h3>
          <a href="/events/<%= events[i]._id %>"  ><h3>More Info</h3></a>
      </div>
      <% } %>
    <% } %>
    </div>
  </body>
</html>

<style>
  .event{
    padding:10px;
    width: 80%;
    margin:10px auto;
    border: 1px solid green;
  }

</style>
