<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Event</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <% include ../layouts/header %>
    <div class="main-container">
      <h2>Yeet</h2>
      <h4><%= event.title%></h4>
      <h4><%= event._id %></h4>
    </div>

  </body>
</html>
