<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MBC Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/simple-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  <% include ../layouts/header %>
  <% include ../layouts/message %>
  <div class="main-container">

  </div>

  </body>
</html>
