<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spreadsheets</title>
    <link rel="stylesheet" href="/stylesheets/simple-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/js/jquery-3.1.1.min.js" charset="utf-8"></script>
  </head>
  <body>
    <% include ../../layouts/header %>
    <% include ../../layouts/message %>
    <div class="main-container">



      <h1 class="is-title is-1">Registration Info Downlaods</h1>
      <!-- Previous number of kids since last download -->
      <!-- Current number of kids since last download -->
      <a href="/admin/spreadsheets/download/all_registration" class="spreadsheet-link" id="downloadSpreasheet">Click to Download Latest Registration Information Spreadsheet</a>

    <h1 class="is-title is-1">Weekly Attendance Downlaods</h1>
      <a href="/admin/spreadsheets/download/all_weekly_attendance" class="spreadsheet-link" id="prepareAllAttendanceSpreadsheet">Click to prepare a spreadsheet for all attendance sheets(This will be emailed to tylergaugler16@gmail.com)</a>

      <!-- list of all other spreadsheets to download -->






    </div>
  </body>
</html>

<script type="text/javascript">
  console.log('yeet');
</script>
